---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Your Name" description="Personal site of Your Name">
  <h1>Your Name</h1>
  <p>
    I'm [a one-clause description of what you do]. I write about
    [your topics] and build [your projects]. Based in [where], currently
    working on [what].
  </p>
  <p>
    Read my <a href="/writing/">writing</a> or find my projects on <a href="https://github.com/ioRo3781">GitHub</a>.
  </p>
</BaseLayout>
