---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="IDKyet" description="Future website with explanations on math, physics,...">
  <h1>Your Name</h1>
  <p>
    I'm a human. I write about
    math, physics and other related topics and build whatever I like. 
  </p>
  <p>
    Read my <a href="/writing/">writing</a> or find my projects on <a href="https://github.com/ioRo3781">GitHub</a>.
  </p>
</BaseLayout>
